@font-face {
	font-family: 'Petrov Sans-Trial';
	src: url("/assets/fonts/PetrovSans-Trial-ExtraLight.woff2") format('woff2'),
	url("/assets/fonts/PetrovSans-Trial-ExtraLight.ttf") format('truetype');
	font-style: normal;
	font-weight: 200;
	font-display: swap;
}
@font-face {
	font-family: 'Petrov Sans-Trial';
	src: url("/assets/fonts/PetrovSans-Trial-Light.woff2") format('woff2'),
	url("/assets/fonts/PetrovSans-Trial-Light.ttf") format('truetype');
	font-style: normal;
	font-weight: 300;
	font-display: swap;
}
@font-face {
	font-family: 'Petrov Sans-Trial';
	src: url("/assets/fonts/PetrovSans-Trial-Regular.woff2") format('woff2'),
	url("/assets/fonts/PetrovSans-Trial-Regular.ttf") format('truetype');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: 'Petrov Sans-Trial';
	src: url("/assets/fonts/PetrovSans-Trial-SemiBold.woff2") format('woff2'),
	url("/assets/fonts/PetrovSans-Trial-SemiBold.ttf") format('truetype');
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}
@font-face {
	font-family: 'Petrov Sans-Trial';
	src: url("/assets/fonts/PetrovSans-Trial-Bold.woff2") format('woff2'),
	url("/assets/fonts/PetrovSans-Trial-Bold.ttf") format('truetype');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}
@font-face {
	font-family: 'Petrov Sans-Trial';
	src: url("/assets/fonts/PetrovSans-Trial-ExtraBold.woff2") format('woff2'),
	url("/assets/fonts/PetrovSans-Trial-ExtraBold.ttf") format('truetype');
	font-style: normal;
	font-weight: 800;
	font-display: swap;
}
@font-face {
	font-family: 'Petrov Sans-Trial';
	src: url("/assets/fonts/PetrovSans-Trial-Black.woff2") format('woff2'),
	url("/assets/fonts/PetrovSans-Trial-Black.ttf") format('truetype');
	font-style: normal;
	font-weight: 900;
	font-display: swap;
}
